@charset "utf-8";
/* CSS Document */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #636363;
}

body {
    background-color: #f4f4f4;
}

#header {
    background-image: URL(../images/admin/header_bg.png);
    height: 70px;
    width: 100%;
}

#header .header-wrapper .logo {
    background-image: url(../images/mapegy-logo.png);
    width: 132px;
    height: 53px;
    display: inline-block;
    position: relative;
    left: 20px;
    top: 7px;
}

#header .header-wrapper .menu {
    position: relative;
    float: right;
    top: 30px;	
    text-align: right;
    width: 650px;
}

#header .header-wrapper .menu li {
    display: inline-block;
    margin-left: 5px;
    color: #34b5ec;
}

#header .header-wrapper .menu li a{
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
#header .header-wrapper .menu li a:hover{
    color: #006fc7;	
}

#wrapper{
    margin: 0 auto;	
    width: 968px;
    min-height: 500px;	
    display: block;
    margin-top: 20px;
}

.clear {
    clear: both;
    height: 10px;
}

.item-link {
    background: none;
    border: none;
    background-image: URL(../images/admin/btn-bg.png);
    background-repeat: no-repeat;
    width: 189px;
    height: 27px;
    display: inline-block;
    color: #0397d6;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding-top: 7px;
    text-decoration: none;
    margin-top: 12px;
}
.item-link:hover{
    color: #5ebde5;
}

.page_title {
    color: #000;
    font-size:  20px;
    padding-top: 20px;
    margin-left: 5px;
}

#dashboard-menu {
    display: block;
}

#dashboard-menu a{
    background-repeat: no-repeat;
    display: inline-block;
    width: 165px;
    height: 165px;
    margin: 5px;
}

#dashboard-menu a.home{
    background-image: url(../images/admin/home-icon.png);
}
#dashboard-menu a.product{
    background-image: url(../images/admin/product-icon.png);
}
#dashboard-menu a.about{
    background-image: url(../images/admin/about-icon.png);
}
#dashboard-menu a.press{
    background-image: url(../images/admin/press-icon.png);
}
#dashboard-menu a.careers{
    background-image: url(../images/admin/careers-icon.png);
}
#dashboard-menu a.blog{
    background-image: url(../images/admin/blog-icon.png);
}
#dashboard-menu a.events{
    background-image: url(../images/admin/events-icon.png);
}
#dashboard-menu a.contacts{
    background-image: url(../images/admin/contacts-icon.png);
}
#dashboard-menu a.analytics{
    background-image: url(../images/admin/analytics-icon.png);
}
#dashboard-menu a.dashboard{
    background-image: url(../images/admin/dashboard.png);
}
#dashboard-menu a.home-banners{
    background-image: url(../images/admin/home_banners.png);
}
#dashboard-menu a.legal_plicy{
    background-image: url(../images/admin/legal_plicy.png);
}
#dashboard-menu a.partners{
    background-image: url(../images/admin/partners.png);
}
#dashboard-menu a.clients{
    background-image: url(../images/admin/clients.png);
}
#dashboard-menu a.consulting{
    background-image: url(../images/admin/consulting.png);
}
#dashboard-menu a.quotes{
    background-image: url(../images/admin/quotes.png);
}

.navigator{
    color: #7a7a7a;
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 5px;
}

#inside-menu{
    display: block;
}

#inside-menu a{
    background-repeat: no-repeat;
    display: inline-block;
    width: 93px;
    height: 93px;
    margin: 5px;
    background-position: 0px 0px;
}
#inside-menu a:hover{
    background-position: 0px -93px;
}

#inside-menu a.home{
    background-image: url(../images/admin/s-home-icon.png);
}
#inside-menu a.product{
    background-image: url(../images/admin/s-product-icon.png);
}
#inside-menu a.about{
    background-image: url(../images/admin/s-about-icon.png);
}
#inside-menu a.press{
    background-image: url(../images/admin/s-press-icon.png);
}
#inside-menu a.careers{
    background-image: url(../images/admin/s-careers-icon.png);
}
#inside-menu a.blog{
    background-image: url(../images/admin/s-blog-icon.png);
}
#inside-menu a.events{
    background-image: url(../images/admin/s-events-icon.png);
}
#inside-menu a.contacts{
    background-image: url(../images/admin/s-contacts-icon.png);
}
#inside-menu a.analytics{
    background-image: url(../images/admin/s-nalytics-icon.png);
}
#inside-menu a.dashboard{
    background-image: url(../images/admin/s_dashboard.png);
}
#inside-menu a.clients{
    background-image: url(../images/admin/s_clients.png);
}
#inside-menu a.consulting{
    background-image: url(../images/admin/s_consulting.png);
}
#inside-menu a.home-banners{
    background-image: url(../images/admin/s_home-banners.png);
}
#inside-menu a.legal_plicy{
    background-image: url(../images/admin/s_legal_plicy.png);
}
#inside-menu a.partners{
    background-image: url(../images/admin/s_partners.png);
}
#inside-menu a.quotes{
    background-image: url(../images/admin/s_quotes.png);
}

.logos-box{
    margin-bottom: 50px;display: inline-block;width: 220px;border: 1px solid #CCC;height: 160px;float: left;margin-left: 10px;padding: 5px;
}

.delete_logo {
    float: right;
    top: 0px;
    right: 0px;
    background: #FFF;
    padding: 5px;
}
.simple_with_animation li{
    cursor: move;
}
