.list_carousel {
    margin-left: 20px;
    width: 850px;
}
.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    font-size: 40px;				
    text-align: center;				
    width: 180px;
    height: 170px;
    padding: 0;
    margin: 15px;
    display: block;
    float: left;
    position:relative;
}
.list_carousel li img{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    left: 0;
    right: 0px;
}
.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}
.clearfix {
    float: none;
    clear: both;
}
.prev {
    float: left;
    background-image: URL(../images/left-arrow.png);
    width: 15px;
    height: 21px;
    display: block;
    margin-left: 10px;
    text-decoration: none;
    position: relative;
    left: -32px;
    top: -100px;
}
.next {
    float: right;
    background-image: URL(../images/right-arrow.png);
    width: 15px;
    height: 21px;
    display: block;
    margin-right: 10px;
    text-decoration: none;
    position: relative;
    right: -32px;
    top: -100px;
}  

// ------------------------------------------------------------------------------------------------------------


.list_carousel1 {
    margin-left: 20px;
    width: 850px;
}
.list_carousel1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel1 li {
    font-size: 40px;				
    text-align: center;				
    width: 830px;
    height: 100px;
    padding: 0;
    margin: 15px;
    display: block;
    float: left;
    position:relative;
}
.list_carousel1.responsive {
    width: auto;
    margin-left: 0;
}

.prev1 {
    float: left;
    background-image: URL(../images/left-arrow.png);
    width: 15px;
    height: 21px;
    display: block;
    margin-left: 10px;
    text-decoration: none;
    position: relative;
    left: -13px;
    top: -100px;
}
.next1 {
    float: right;
    background-image: URL(../images/right-arrow.png);
    width: 15px;
    height: 21px;
    display: block;
    margin-right: 10px;
    text-decoration: none;
    position: relative;
    right: -21px;
    top: -100px;
}  