@charset "utf-8";
/* CSS Document */

* {
    padding: 0;
    margin: 0;
    border: none;	
    font-family: Calibri, Verdana, Geneva, sans-serif;
    font-size: 15px;
    color: #656565;
}

#header {
    background-color: #FFF;
    float: left;
    clear: both;
    height: 66px;
    width: 100%;
    display: block;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 2000;
}

#header .logo {
    background-image: url(../images/mapegy-logo.png);
    width: 132px;
    height: 53px;
    display: inline-block;
    position: relative;
    left: 20px;
    top: 7px;
}

#header #top-menu {
    width: 450px;
    margin:  0 auto!important;
    float: none!important;
    right: 0px!important;
    top: -25px!important;
    position: relative;
}

@media all and (max-width: 1160px) {
    #top-menu {
/*        right:50px !important; 
        float: right !important;*/
/*width: 450px;
margin:  0 auto!important;
float: none!important;
right: 0px!important;
top: -25px!important;*/
    }
}

#header #top-menu li {
    float: left;
    display: block;
}
#header #top-menu li a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
}
#header #top-menu li a:hover {
    color: #006fc7;
}
#header #top-menu li .active {
    color: #006fc7;
    font-size: 16px;
    text-decoration: none;
}
#header #top-menu .menu-separator{
    font-size: 16px;
    color: #e3e3e3;
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#header #social-links {
    float: right;
    position: relative;
    top: 25px;
    display: block;
    width: 130px;
}
#header #social-links a img {
    position: relative;
    margin-right: 4px;
    display: inline-block;
}

.top-small-separator {
    font-size: 18px;
    color: #e3e3e3;
    display: block;
    float: left;
    top: -4px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

#header #already-customer {
    float: right;
    position: relative;
    top: 35px;
    right: 20px;
}

.blue-link {
    background-color: #006ac5;
    padding: 2px 4px;
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
    margin-left: 5px;
    position: relative;
    top: -1px;
}
.blue-link:hover{
    background-color: #ffc000;
}

.lang-link {
    background-color: #ff0000;
    padding: 2px 5px;
    color: #FFF;
    font-size: 13px;
    text-decoration: none;
    float: right;
    top: 0px;
    right: 20px;
    position: absolute;
    font-weight: bold;
}
.lang-link:hover{
    background-color: #006fc7;
}

#banner {
    display: block;
}

#left-contact-us-link {
    float: left;
    position: fixed;
    margin-top: 100px;
    background-image: url(../images/contact-us-link.png);
    background-position: 0px 0px;
    width: 33px;
    height: 127px;
    display: block;
    z-index: 2001;
}
#left-contact-us-link:hover{
    background-position: -33px 0px;
}

#home-benefits-section {
    width: 880px;
    margin: 0 auto;
    height: 167px;
    display: block;
}

#home-benefits-section .benefit{
    background-image: url(../images/main-arrow.png);
    background-repeat: no-repeat;
    height: 49px;
    min-width: 38px;
    display: block;
    float: left;
    position: relative;
    top: 60px;
    margin-right: 144px;
}

#home-benefits-section .benefit span{
    color: #000;
    font-size: 28px;
    display: block;
    position: relative;
    left: 39px;
    top: 5px;
}

.home-section-navigation {
    float: right;
    position: absolute;
    right: 20px;
    margin-top: 60px;
}

.home-section-navigation .nav-item {
    background-image: url(../images/section-nav-icon.png);
    width: 12px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: block;
}
.home-section-navigation .nav-item:hover {
    background-position: 0px -14px;	
}

#container {
    /*    background-image: url(../images/backgound-slice.png);
        background-repeat: repeat;*/
    min-height: 600px;	
}

#container #wrapper {
    width: 880px;
    margin: 0 auto;	
}


.wide-dashed-separator {
    width: 100%;
    height: 1px;
    display: block;
    border-bottom: 1px dashed #006fc7;	
}

.small-dashed-separator {
    width: 80%;
    margin: 0 auto;
    height: 1px;
    display: block;
    border-bottom: 1px dashed #006fc7;	
}

.home-title {
    display: block;
    border-top: 13px solid #006fc7;
    font-size: 26px;
    color: #006fc7;
    text-align: center;
    width: 20%;
    margin: 0 auto;
    padding-top: 10px;
    text-decoration: none;
}

.home-title.small-width{
    width: 10%;	
}

.inside-main-title {
    display: block;	
    font-size: 26px;
    color: #1075c9;
    text-align: center;
    width: 24%;
    margin: 0 auto;
    padding-top: 40px;
    text-transform: capitalize;
}

.home-section, .inside-horizontal-section {
    color: #000;
    font-size: 20px;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 60px;
}

.first{
    margin-top: 0px;	
    padding-top: 50px;
}

.quotes {
    margin-left: 15px;	
    width: 800px;
    display: inline-block;
}

.left-arrow {
    background-image: url(../images/left-arrow.png);
    width: 15px;
    height: 21px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 26px;
    left: 0px;
    vertical-align: top;
    cursor: pointer;
}

.right-arrow {
    background-image: url(../images/right-arrow.png);
    width: 15px;
    height: 21px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 26px;
    left: 0px;
    vertical-align: top;
    cursor: pointer;
}

.quotes img {
    vertical-align: top;
    max-width: 250px;
    display: inline-block;
    position: relative;
    top: 15px;	
}

.quotes .quote-words {
    width: 520px;
    font-size: 20px;
    font-style: italic;
    position: relative;
    display: inline-block;
    color: #000;
    left: 20px;
    text-align: left;
}
.quotes .quote-words .author {
    display: block;
    color: #656565;
    font-style: italic;
    font-size: 15px;
}

.news-section {
    margin-top: 25px;
}

.news-section .recent-blog-posts{
    float: left;
    width: 552px;	
}

.box {
    width: 550px;
    display: block;
    margin-top: 22px;
    position: relative;
    float: left;
    margin-bottom: 13px;
}

.separator-between-boxes {
    clear: left;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e8e8e8;
    display: block;
}

.news-section .recent-blog-posts .box img {
    float: left;
    max-width: 110px;
    display: block;
    height: 76px;
}

.news-section .recent-blog-posts .box .blog-short-brief {
    width: 410px;
    float: left;
    display: block;
    text-align: justify;
    margin-left: 25px;
}

.news-section .recent-blog-posts .box  .blog-article-title {
    font-size: 20px;
    font-weight: bold;
    color: #000;	
    text-decoration: none;
    display: block;	
}

.news-section .meet-us{
    float: left;
    width: 280px;
    margin-left: 45px;
    vertical-align: top;
}

.news-section .meet-us .meet-us-box {
    width: 280px;
    display: block;
    margin-top: 10px;
    position: relative;
    float: left;
    margin-bottom: 5px;	
}

.news-section .meet-us .meet-us-box img{
    max-width: 82px;
    float: left;
    display: block;
}
.news-section .meet-us .meet-us-box .meet-us-short-brief {
    width: 170px;
    float: left;
    display: block;
    margin-left: 20px;
}

.news-section .meet-us .meet-us-box .meet-us-title {
    font-size: 16px;
    font-weight: bold;
    color: #000;	
    text-decoration: none;
    display: block;
}

.blog-details-left {
    float: left;
    width: 570px;
    display: block;
    position: relative;
    top: 60px;
}
.blog-details-left .blog-details-title {
    font-size: 26px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blog-details-left .blog-details-desc {
    font-size: 15px;
    color: #656565;
    font-weight: lighter;
    text-align: justify;
}

.blog-details-right {
    float: left;
    width: 271px;
    position: relative;
    top: 34px;
    margin-left: 20px;
}

.contact-us-box {
    width: 730px;
    display: block;
    background-color: #f0f0f0;
    margin: 0 auto;
    text-align: center;
    font-size: 38px;
    border: 1px solid #e6e6e6;
    padding: 11px;
    color: #0e76c9;
    margin-top: 60px;
    padding-bottom: 9px;
}

.contact-us-box strong{
    font-weight: bold;
    color: #0e76c9;
    font-size: 38px;
}

.contact-us-box .contact-us-link {
    background-color: #ffc000;
    font-size: 30px;
    color: #FFF;
    padding: 2px 30px 3px 30px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    top: -3px;
    margin-left: 35px;
}
.contact-us-box .contact-us-link:hover {
    background-color: #006fc7;    
}

#footer {
    display: block;
    background-color: #0d4d81;
    /*background-image: url(../images/footer-bg.png);*/
    height: 300px;
    display: block;
    background-repeat: repeat;
}

#footer .wrapper{
    width: 880px;
    margin: 0 auto;
}

#footer .menu{
    list-style: none;
    width: 700px;
    margin: 0 auto;
    padding-top: 15px;
}

#footer .menu li{
    display: inline-block;	
}

#footer .menu .footer-menu-separator{
    color: #033964;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

#footer .menu li a{
    color: #FFF;
    text-decoration: none;	
}
#footer .menu li a:hover{
    color: #99b9d3;
}

#footer .sub-menu-box {
    list-style: none;
    width: 135px;
    float: left;
    display: block;
    position: relative;
}

#footer .sub-menu-box li{
    display: block;	
    margin-bottom: 4px;
}
#footer .sub-menu-box li a{
    color: #99b9d3;
    font-size: 14px;
    text-decoration: none;
}
#footer .sub-menu-box li a:hover{
    color: #FFF;
}

#footer .footer-dashed-link{
    float: left;
    position: relative;
    display: block;
    top: 5px;
}
.dashed-link-1{
    background-image:url(../images/footer-dash-link-1.png);
    width: 167px;
    height: 58px;
    margin-left: 20px;
}
.dashed-link-2{
    background-image: url(../images/footer-dash-link-2.png);
    width: 108px;
    height: 57px;
    margin-left: -30px!important;
}
.dashed-link-3{
    background-image: url(../images/footer-dash-link-3.png);
    width: 28px;
    height: 57px;
    margin-left: 69px!important;
}
.dashed-link-4{
    background-image: url(../images/footer-dash-link-4.png);
    width: 65px;
    height: 57px;
    margin-left: 66px!important;
}
.dashed-link-5{
    background-image: url(../images/footer-dash-link-5.png);
    width: 124px;
    height: 57px;
    margin-left: 9px!important;
}
.dashed-link-6{
    background-image: url(../images/footer-dash-link-6.png);
    width: 165px;
    height: 57px;
    margin-left: -52px!important;
}

.footer-legal-policy-link {
    color: #99b9d3;
    font-size: 10px;
    float: right;
    text-decoration: none;	
    margin-right: 60px;
}

#copyright{
    background-color: #093d67;
    /*background-image: url(../images/copyright-bg.png);*/
    background-repeat: repeat-x;
    height: 30px;
    display: block;
    text-align: center;	
}

#copyright span {
    color: #457296;
    font-size: 10px;	
    display: block;
    position: relative;
    top: 8px;
}

#inside-banner {
    width: 100%;
    display: block;
}

.expert {
    width: 288px;
    height: 270px;
    display: inline-block;
    margin-top: 20px;
}

.expert-name {
    font-size: 20px;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 7px;
}

.expert-social-links {
    float: right;
    position: relative;
    top: 20px;
    right: 15px;
}

.expert-social-links a {
    margin-right: 3px;	
}

.job-title{
    color: #1075c9;
    font-size: 26px;
    text-align: left;
    display: block;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.job-description, .job-description *{
    color: #000;
    font-size: 20px!important;
    margin-bottom: 15px;
}

.job-separator-aligment{
    margin-top: 50px;
    margin-bottom: 30px;
}

.job-main-brief *{
    color: #000;
    font-size: 20px;
    padding-top: 40px;
    width: 600px;
}

.our-open-vacancies {
    color: #006fc7;
    font-size: 26px;
}

.job-list {
    padding-top: 6px;
}

.job-list li {    
    display: block;
    list-style: none;
    padding-top: 10px;
}

.job-list li a {
    color: #000;
    font-size: 23px;
    text-decoration: none;
    display: block;
    padding-top: 10px;
}
.job-list li a:hover{
    color: #1075c9;
}

.download-job-offer {
    color: #000;
    font-size: 20px;    
}
.download-job-offer a{
    color: #1075c9;
    font-size: 20px;  
    text-decoration: none;
}

.contact-person {
    display: block;
    float: right;
    position: relative;
    top: 46px;
}

.contact-person .adviosr-title{
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    display: block;
    margin-top: 3px;
}
.contact-person .adviosr-job-title {
    font-size: 15px;
    color: #969696;
    display: block;
}

.apply-now-old {
    background-image: URL(../images/apply-now-link.png);
    background-repeat: no-repeat;
    width: 217px;
    height: 43px;
    display: block;
    margin-top: 20px;
}
.apply-now {
    color: #FFF;
    background-color: #ffc000;
    font-size: 25px;
    margin-top: 20px;
    text-decoration: none;
    padding: 4px 53px 7px 53px;
    position: relative;
    top: 0px;
    display: block;
}
.apply-now:hover {
    background-color: #006fc7;
}
/*
   News Page -------------------------------------------------------------------
*/
.news_blog_box {
    width: 271px;
    display: inline-block;
    margin: 11px 10px;
    vertical-align: top;
}

.news_blog_box .news-title{
    color: #000;
    font-size: 20px;
    margin-top: 8px;
    display: block;
    text-decoration: none;
}
.news_blog_box .news-title:hover{
    color: #646464;
}

.news_blog_box .more-link{
    color: #006fc7;
    font-size: 13px;
    float: right;
    position: relative;
    top: 30px;
    right: 0px;
}

.recent-blog-main-title {
    color: #006fc7;
    font-size: 26px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 30px;
}

.older-posts-link {
    color: #006fc7;
    font-size: 15px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    display: block;
    border-top: 1px dashed #006fc7;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.news-meet-us{
    margin-top: 40px;
    float: left;
    width: 535px;
}
.news-meet-us .meet-us-title {
    color: #006fc7;
    font-size: 20px;
    margin-bottom: 20px;
}
.news-meet-us .event_box {
    border-bottom: #e1e1e1 solid 1px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.news-meet-us .event_box .img-box{
    width: 100px;
    display: inline-block;
}
.news-meet-us .event_box .img-box img {
    max-height: 65px;
    margin-right: 20px;
}
.news-meet-us .event_box .event-content{
    width: 420px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}
.news-meet-us .event_box .event-date{
    font-size: 16px;
    color: #000;
    display: block;
    vertical-align: top;
    font-weight: bold;
}
.news-meet-us .event_box .event-desc{
    display: block;
    vertical-align: top;
}

.news-follow-us{
    margin-top: 40px;
    float: left;
    width: 280px;
    margin-left: 55px;
}
.news-follow-us .follow-us-title {
    color: #006fc7;
    font-size: 20px;
    margin-bottom: 20px;
}

/*
    Product Page CSS -----------------------------------------------------------
*/

.who-use_mapegy, .mapegy-offers{
    color: #006fc7;
    font-size: 26px;
    padding-top: 40px;
}

.who-uses-box{
    width: 225px;
    float: left;
    margin-right: 100px;
    margin-top: 40px;
    height: 220px;
    display: block;
}

.technology-inovation-icon {
    background-image: URL(../images/technology-inovation.png);
    background-repeat: no-repeat;
    width: 132px;
    height: 132px;
    display: block;
    margin: 0 auto;
}
.researchers-icon {
    background-image: URL(../images/researchers.png);
    background-repeat: no-repeat;
    width: 132px;
    height: 132px;
    display: block;
    margin: 0 auto;
}
.product_investors-icon {
    background-image: URL(../images/product_investors.png);
    background-repeat: no-repeat;
    width: 132px;
    height: 132px;
    display: block;
    margin: 0 auto;
}
.ip-icon {
    background-image: URL(../images/ip.png);
    background-repeat: no-repeat;
    width: 132px;
    height: 132px;
    display: block;
    margin: 0 auto;
}
.government-icon {
    background-image: URL(../images/government.png);
    background-repeat: no-repeat;
    width: 132px;
    height: 132px;
    display: block;
    margin: 0 auto;
}
.hr-managers-icon {
    background-image: URL(../images/hr-managers.png);
    background-repeat: no-repeat;
    width: 132px;
    height: 132px;
    display: block;
    margin: 0 auto;
}

.who-uses-box span{
    font-size: 20px;
    color: #000;
    display: block;
    margin-top: 20px;
    text-align: center;
}

.feature-box {
    width: 278px;
    height: 350px;
    display: block;
    float: left;
    padding: 20px 9px;
}

.feature-box p {
    color: #000;
    font-size: 15px;
    text-align: justify;
    display: block;
    padding-top: 20px;
}

.product-brief {
    color: #000;
    font-size: 20px;
    text-align: justify;
    margin-top: 60px;
    margin-bottom: 60px;
}

.offer-item{
    background-image: URL(../images/main-arrow.png);
    background-repeat: no-repeat;
    min-height: 49px;
    display: block;
    padding-left: 50px;
    font-size: 20px;
    color: #000;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
}

/*
    Press Page -----------------------------------------------------------------
*/
.press_top_left{
    width: 600px;
    float: left;
    position: relative;
    top: 40px;
}

.press_top_left .section-title{
    color: #1075c9;
    font-size: 26px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.press_top_left .section-desc, .press_top_left .section-desc > *, .press_top_left .section-desc p > *{
    color: #000;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: justify;
}

.press_top_right{
    width: 218px;
    float: left;
    position: relative;
    margin-left: 25px;
    vertical-align: top;
    position: relative;
    top: 10px;
}

.press-clipping-box{
    width: 280px;
    height: 325px;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 25px;
}
.press-clipping-box .logo-bg{
    /*    background-image: URL(../images/press-frame-bg.png);
        background-repeat: no-repeat;*/
    width: 280px;
    height: 182px;
    display: block;
    position:relative;
}

.press-clipping-box .logo-bg img {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.press-clipping-box .clipping-date{
    font-size: 16px;
    color: #000;
    margin-top: 20px;
}
.press-clipping-box .clipping-title{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.press-clipping-box .clipping-desc{
    font-size: 15px;
    color: #656565;
    margin-top: 15px;
}

/*
    Contact Us Page ------------------------------------------------------------
*/
.contact-left {
    float: left;
    width: 500px;
    position: relative;
    top: 40px;
}

.contact-left #contact-form{
    list-style: none;
}

.contact-left #contact-form li  {
    margin-bottom: 10px;
}
.contact-left #contact-form li label{
    width: 96px;
    display: inline-block;
    text-align: left;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    vertical-align: top;
    padding-top: 8px;
}
.contact-left #contact-form li .txt {
    width: 350px;
    border: solid 1px #efefef;
    color: #000;
    font-size: 15px;
    height: 36px;
    display: inline-block;
    padding: 0 5px;
}
.contact-left #contact-form li .select {
    width: 360px;
    border: solid 1px #efefef;
    color: #000;
    font-size: 15px;
    height: 36px;
    display: inline-block;
    padding: 0 5px;
}
.contact-left #contact-form li textarea{
    width: 350px;
    padding: 5px;
    height: 150px;
    border: solid 1px #efefef;
    color: #000;
    font-size: 15px;
}

.contact-right {
    float: left;
    width: 320px;
    position: relative;
    top: 40px;
    margin-left: 20px;
}
.contact-right .contact-right-title{
    color: #000;
    font-size: 25px;
    display: block;
    font-weight: bold;
}
.contact-right a{
    color: #0e76c9;
    text-decoration: none;
}

.submit-btn {
    border: none;
    background-image: URL(../images/submit-btn.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 89px;
    height: 29px;
    display: block;
    position: relative;
    right: 95px;
    float: right;
    top: 25px;
    cursor: pointer;
}
.submit-btn:hover{
    background-position: 0px -29px;
}

/*
    Consulting page ------------------------------------------------------------
*/

.consulting-desc {
    width: 570px;
    display: block;
    margin-right: 80px;
    float: left;
    text-align: justify;
    font-size: 20px;
    color: #000;
    position: relative;
    top: 40px;
}

.consulting-contact {
    position: relative;
    top: 40px;
    width: 400px;
    display: block;
    float: left;
}
.consulting-contact .expert_contact-details {
    width: 215px;
    float: left;
    display: block;
    margin-left: 20px;
}
.consulting-contact .contact-name {
    color: #000;
    font-size: 21px;
}
.consulting-contact .contact-job-title {
    color: #969696;
    font-size: 15px;
}
.contact-tel {
    color: #000;
    font-size: 21px;
    margin-top: 5px;
}
.contact-link {
    color: #FFF;
    background-color: #ffc000;
    font-size: 25px;
    margin-top: 20px;
    text-decoration: none;
    padding: 4px 49px 7px 50px;
    position: relative;
    top: 0px;
    display: block;
}
.contact-link:hover {
    background-color: #006fc7;
}

.consulting-title-decoration {
    font-size: 26px;
    width: 150px!important;
}

.consulting {
    padding-bottom: 50px;
}

.consulting > p {
    font-size: 20px;
    color: #000;
    margin: 20px 0px;
}

.consulting .case-study-box{
    display: block;
    float: left;
    margin-right: 64px;
    position: relative;
    width: 250px;
}
.consulting .case-study-box .img{
    display: block;    
    height: 120px;
    margin-top: 20px;
}
.consulting .case-study-box .img.img1{
    height: 132px;
    margin: 0 auto;
    position: relative;
    top: 23px;
    margin-bottom: 40px;
    margin-left: 57px;
}
.consulting .case-study-box .img.img2{
    margin: 0 auto;
    position: relative;
    top: 25px;
    width: 132px;
    height: 132px;
    margin-bottom: 40px;
}
.consulting .case-study-box .img.img3{
    width: 123px;
    margin: 0 auto;
    height: 132px;
    margin-bottom: 40px;
    top: 26px;
    position: relative;
}
.consulting .case-study-box > .title{
    font-size: 22px;
    color: #000;
    width: 125px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.consulting .case-study-box > .slogan{
    font-size: 18px;
    color: #000;
    width: 205px;
    margin: 0 auto;
    text-align: center;
}

.case-study-link {
    color: #FFF;
    background-color: #ffc000;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: none;
    padding: 3px 30px 8px 30px;
    position: relative;
    width: 200px;
}
.case-study-link:hover{
    background-color: #006fc7;
}

.our_consulting_experts {
    text-transform: capitalize;
    color: #1075c9;
    font-size: 26px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}
.consulting .consulting-desc > ul li{
    list-style: none;
    color: #000;
    font-size: 20px;
    margin-left: 20px;
}

.consulting .contact-us-box {
    width: 768px;
    display: block;
    background-color: #f0f0f0;
    margin: 0 auto;
    text-align: left;
    font-size: 38px;
    border: 1px solid #e6e6e6;
    padding: 11px;
    color: #0e76c9;
    margin-top: 60px;
}

.consulting .contact-us-box > p {
    width: 500px;
    display: block;
    font-size: 28px;
    color: #0e76c9;
    margin-left: 20px;
}

.consulting .contact-us-box strong{
    font-weight: bold;
    color: #0e76c9;
    font-size: 28px;
}

.consulting .consulting-contact-link {
    background-color: #ffc000;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 30px;
    margin-left: 35px;
    padding: 0 30px 2px;
    position: relative;
    right: 20px;
    text-decoration: none;
    top: -56px;
}
.consulting .consulting-contact-link:hover {
    background-color: #006fc7;
}

/*
Back to top button 
*/
#back-top {
    position: fixed;
    bottom: 30px;
    right: 0px;
    margin-right: 50px;
}
#back-top a {
    width: 62px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}
/* arrow icon (span tag) */
#back-top span {
    width: 60px;
    height: 63px;
    display: block;
    margin-bottom: 7px;
    background: #ddd url(../images/up-arrow.png) no-repeat center center;
    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #777;
}

///////////////////////////////////////////////////////////////////////////////////

.star{
    color: #ff0000;
    vertical-align: top;
    padding-top: 3px;
}

.news-titles{
    color: #006fc7;
    font-size: 20px;
    text-decoration: none;
}

.home-follow-mapegy{
    clear: left;
    color: #006fc7;
    font-weight: normal;
    margin-bottom: 20px;
    display: block;
    position: relative;
    top: 15px;
    font-size: 20px;
}

#social-sharing-plugins{
    position: relative;
    margin-bottom: 20px;
}

.news_date{
    font-size: 13px;color: #8D8D8D;
}

a.anchor{display: block; position: relative; top: -50px; visibility: hidden;}

.success{
    background-color: #48E948;
    padding: 10px;
    color: #FFF;
    margin-top: 30px;
}

.xing-header{
    background-image: URL(../images/xing.jpg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 0;
    position: relative;
    margin-right: 3px;
}
.xing-header:hover{
    background-position: 0 -16px;
}

.linkedin-header{
    background-image: URL(../images/linkedin.jpg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 0;
    position: relative;
    margin-right: 3px;
}
.linkedin-header:hover{
    background-position: 0 -16px;
}

.twitter-header{
    background-image: URL(../images/twitter.jpg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 0;
    position: relative;
    margin-right: 3px;
}
.twitter-header:hover{
    background-position: 0 -16px;
}

.facebook-header{
    background-image: URL(../images/facebook.jpg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 0;
    position: relative;
}
.facebook-header:hover{
    background-position: 0 -16px;
}

.en-lang-header{
    background-image: URL(../images/de.jpg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 0;
    position: relative;
}
.facebook-header:hover{
    background-position: 0 -16px;
}
